{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}' rel='stylesheet'/> 
    <title></title>
</head>
<body>
    <header class="container-header">
		<div class="superior__inicio">
			<h1 ><a href="/index" class="logo">Academia</a></h1>
			<div class="menu__todo">
				<nav class="container-menu">
				<ul class="menu">
					
					<li class="item__menu"><a href="/cursos" class="link__menu"><span class="verde">Cursos</span></a></li>
					<li class="item__menu"><a href="{% url 'Crearcurso' %}" class="link__menu">Crear cursos </a></li>
                    <li class="item__menu"><a href="/carreras" class="link__menu">Carreras </a></li>
                    <li class="item__menu"><a href="/crearCarreras" class="link__menu">Crear Carrera </a></li>
				</ul>
			</nav>
			</div>
			<div class="derecho">
				
				<a href="" class="contacto"><i class="bi bi-phone-vibrate"></i>254-7856</a>
			</div>
		</div>
	</header>
	<div class="banner">
        <img class="img__banner" src='{% static "imagenes/pexels-pixabay-267885.jpg" %}'/>
		<h2 class="title">Academia LP3</h2>
		<p class="title__texto">La mejor academia con el horario mas completo para tu preparacion pre universitaria.</p>
		<div class="redes__sociales">
			<div class="cuadro__social facebook"><a href="https://es-la.facebook.com/" target="_blank"><i class="bi bi-facebook"></a></i></div>
			<div class="cuadro__social instagram"><a href=""><i class="bi bi-instagram"></a></i></div> 
			<div class="cuadro__social twiter"><a href=""><i class="bi bi-twitter"></a></i></div>
		</div>
	</div>
    {% block content %}
    <section class="container-transporte">
		<div class="cuadro">
			<i class="bi bi-truck"></i>
			<h3 class="title__cuadros">RECURSOS</h3>
			<p class="txt__cuadro">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
			</p>
		</div>
		<div class="cuadro">
			<i class="bi bi-truck"></i>
			<h3 class="title__cuadros">SEDES</h3>
			<p class="txt__cuadro">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
			</p>
		</div>
		<div class="cuadro">
			<i class="bi bi-truck"></i>
			<h3 class="title__cuadros">CICLOS</h3>
			<p class="txt__cuadro">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			</p>
		</div>
	</section>
	<section class="about">
		<h2 class="title__about">Nosotros</h2>
		<div class="cuadro__about">
			<i class="bi bi-check-circle-fill icon__about"></i>
			<p class="texto__number">4</p>
			<p class="title__cuadrAbout">PROYECTOS REALIZADOS</p>
		</div>
		<div class="cuadro__about">
			<i class="bi bi-people-fill icon__about"></i>
			<p class="texto__number">4</p>
			<p class="title__cuadrAbout">PERSONAL DE TRABAJO</p>
			
		</div>
		<div class="cuadro__about">
			<i class="bi bi-check-circle-fill icon__about"></i>
			<p class="texto__number">4</p>
			<p class="title__cuadrAbout">UNIDADES CON GPS</p>
		</div>
		<div class="cuadro__about">
			<i class="bi bi-trophy icon__about"></i>
			<p class="texto__number">4</p>
			<p class="title__cuadrAbout">PREMIOS</p>
		</div>

	</section>
	<section class="servicios">
		<h2 class="title__servicios">Acerca de</h2>
		<div class="servicios__izquierda">
			<h3 class="title__izquierda">Unas palabras de nuestra academia</h3>
			<p class="txt__servicios">
				Más de cinco décadas de brillante trayectoria académica y cultural formando estudiantes con un alto nivel, son nuestra garantía de ingreso seguro a las más importantes universidades del país.

Orientamos a nuestros estudiantes en la elección de su carrera profesional, teniendo en cuenta su disposición y aptitudes.
			</p>
			<ul class="lista">
				<li class="lista__item"><i class="bi bi-check-all"></i>100% satisfaccion</li>
				<li class="lista__item"><i class="bi bi-check-all"></i>Calidad de servicio</li>
				<li class="lista__item"><i class="bi bi-check-all"></i>Localizacion para todos</li>
				<li class="lista__item"><i class="bi bi-check-all"></i>Profesores de primer nivel</li>
			</ul>
			
		</div>
		<div class="servicios__derecho">
			<img class="img__servicioderecho" src='{% static "imagenes/pexels-pixabay-267885.jpg" %}'/>
		</div>
	</section>

	<div class="banner__personal">
        <img class=" img__banner_personal" src='{% static "imagenes/pexels-scott-webb-136739.jpg" %}'/>
		<section class="personal">
			<h2 class="title__personal-principal">Nuestro personal</h2>		
		<div class="container-personal">
			<div class="cuadro__personal">
				<img  src='{% static "imagenes/pexels-andrea-piacquadio-774909.jpg" %}'class="img__personal" />
				<h3 class="title__personal">Alejandra Seminario</h3>

			</div>
			<div class="cuadro__personal">
				<img  src='{% static "imagenes/pexels-max-fischer-5212317.jpg" %}' class="img__personal">
				<h3 class="title__personal">Tatiana Romero</h3>

			</div>
			<div class="cuadro__personal">
				<img  src='{% static "imagenes/pexels-yan-krukov-8617730.jpg" %}' class="img__personal">
				<h3 class="title__personal">Julian Torres</h3>

			</div>
		</div>
		</section>
	</div>

	<section class="container-principal">
		<h1 class="title__contacto">CONTACTANOS</h1>
		<div class="container-formulario">
			<form class="formulario">
				<div class="cuadro_txtformu">
					<label for="nombre" class="txt_formu">Nombre</label></br>
				<input type="text" class="form-control cuadro_formu" placeholder="Digite nombre" id="nombre"></br>

				</div>

				<div class="cuadro_txtformu">
				<label for="correo" class="txt_formu">Correo</label></br>
				<input type="email" class="form-control cuadro_formu" placeholder="Email" id="correo"></br>
				</div>


				<div class="cuadro_txtformu">
					<label for="departamento" class="txt_formu">Departamento</label></br>
				<input type="email" class="form-control cuadro_formu" placeholder="Digite departemento" id="departamento"></br>

				</div>

				<div class="enviar">
			
					<button type="button" class="boton_enviar">Enviar</button>

				</div>
			</form>
		</div>
	</section>


    {% endblock %}






    <footer class="container-footer">
			
        <div class="footer">
            
            <div class="primero__footer">
                <h2 class="title__footer">Contacto social
                    <hr/>
                <ul>
                    <li class="item__redes">Facebook: <a href="" class="link__redes">Academia LP3</a></li>
                    <li class="item__redes">Instagram: <a href="" class="link__redes">Academia LP3</a></li>
                    <li class="item__redes">Twiter: <a href="" class="link__redes">Academia LP3</a></li>
                </ul>
                </h2>
            </div>
            <div class="primero__footer">
                <h2 class="title__footer">Ayuda y soporte
                
                <hr/>
                <ul>
                    <li class="item__redes"><a href="" class="link__redes">pagos</a></li>
                    <li class="item__redes"><a href="" class="link__redes">Envias</a></li>
                    <li class="item__redes"><a href="" class="link__redes">Politica de privacidad</a></li>
                </ul>
                </h2>
                
            </div>
            <div class="primero__footer">
                <h2 class="title__footer">Estamos aqui
                    <hr/>
                    <ul>
                    <li class="item__redes"><a href="" class="link__redes">Santa anita</a></li>
                    <li class="item__redes"><a href="" class="link__redes">+51 987542315</a></li>
                    <li class="item__redes"><a href="" class="link__redes">academiaLP3@gmail.com</a></li>
                </ul>
                </h2>
            </div>



        </div>

    </footer>

</body>
</html>